.topBar{
    background-color:var(--color-principal);
}

.topBar img{
    width: 75%;
    max-width: 100px;
    border-radius: 50%;
    margin: 5%;
}

.tituloTopBar{
    text-align: center;
}

.botonOptionsToolBar{
    background-color: var(--color-principal);
    margin-top: 30px;
    margin-left: 30px;
}

.subBar{
    background-color: var(--color-principal);
    border-top: 2px;
    border-color: black;
    border-top-style: dashed;
    text-align: center;
    font-size: 2rem;
    padding-top: 2%;
}

.subBar h2{text-align: center;}
.subBar button{
    background-color: var(--color-principal);
    border-radius: 5px;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.primerAdd{
    margin-top: 3%;
}

.tarea{
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.tarea img{
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    padding-top: 13px;
}

.linea{
    height: 3px;
    margin-top: 7%;
    background-color: var(--color-principal);
}

.tarea ion-fab-button{
    --background: var(--color-principal);
}
.tarea ion-fab ion-icon{
    color: black;
}

.horario{
    margin-left: 5%;
    margin-right: 5%;
    
}

.contenidoHorario{
    text-align: left;
}
.titulitoHorario{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.horario ion-fab-button{
    --background: var(--color-principal);
}
.horario ion-fab ion-icon{
    color: black;
}

.horario .linea{
    margin-left: 10%;
    margin-right: 5%;
}

ion-content{
   margin-bottom: 200px;
}

.ajustesHorario{
    float: right;
}
.cita{
    background-color: #FFAFD0;
    border: 2px  black;
    border-style: dashed solid;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}