<head>
    <title>Libretinas</title>
</head>
<body>
    <ion-app>
        <ion-header>
            <ion-toolbar>
              <ion-title>Libretinas, {{libretinas}}</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content fullscreen>
              <ion-grid>
                  <ion-row class="ion-align-items-start">
                      <ion-col size="6" *ngFor="let libretina of libretinas">
                        <div class="libretina" (click)="navLibretina(libretina.id)">
                            <div class="libretinaImg">
                                <img src={{libretina.url_foto}} alt="Foto de perfil">
                            </div>  
                            <h3>{{libretina.nombre}} {{libretina.apellido}}</h3>
                        </div>
                      </ion-col>
                      <ion-col size="6">
                        <div class="libretina" (click)="navAddLibretina()">
                            <div class="libretinaImg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                  </svg>
                            </div>
                            <h3>Nueva libretina</h3>
                    </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-content>
    </ion-app>
</body>
<footer class="inicioFoot">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="activado">
                    <ion-icon name="book-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
